<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="pagination">
    <div th:if="${lista.totalPages > 1}">
        <ul class="pagination pagination-load justify-content-end">
            <li class="page-item" th:classappend="${lista.number == 0} ? disabled">
                <a class="page-link pagination-link" data-page="1">&laquo;</a>
            </li>
            <li class="page-item" th:classappend="${lista.number == 0} ? disabled">
                <a class="page-link pagination-link" th:attr="data-page=${lista.number}">&larr;</a>
            </li>
            <li class="page-item" th:classappend="${lista.number == page - 1} ? 'active pointer-disabled'"
                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                <a class="page-link pagination-link" th:attr="data-page=${page}" th:text="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${lista.number + 1 == lista.totalPages} ? disabled">
                <a class="page-link pagination-link" th:attr="data-page=${lista.number + 2}">&rarr;</a>
            </li>
            <li class="page-item" th:classappend="${lista.number + 1 == lista.totalPages} ? disabled">
                <a class="page-link pagination-link" th:attr="data-page=${lista.totalPages}">&raquo;</a>
            </li>
        </ul>
    </div>
    <script>
        window.onload = function() {
            crearVinculosPaginacion();
        }
    </script>
</div>
</body>
</html>