<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<p>Para poder resetear su clave debe ingresar su correo electrónico</p>
<form name="recuperar-clave">
    <div class="form-group">
        <input type="email" placeholder="Correo" name="correo" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}"/>
    </div>
    <div class="form-group text-right">
        <button type="reset" class="btn btn-danger">Cancelar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
</body>
</html>